* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app_container {
  min-height: 100vh;
  
}


.custom_link {
  text-decoration: none;
  color:#333;
}

.active {
  color: #03C03C;
  }