.about_us {
  background-color: $lightGreen;
  @include flex(center, center, row, 50px);
  color: $mainFontColor;

  @include media(large) {
    @include flex(center, center, column, 20px);
  }

  &_right {
    img {
      height: 35rem;
      width: 40rem;
    }
  }

  &_left {

    @include media(large) {
      @include flex(center, center, column, 20px);
    }
    h2 {
      @include media(large) {
        text-align: center;
      }
      font-size: 2.2rem;
      width: 500px;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    span {
      color: $mainOrange;
    }

    &_paragraph {
      font-weight: 300;
      margin-bottom: 25px;

      
      
      
    }

    ul {

      @include media(large) {
        font-size: 1.5rem;
       
      }
      list-style: none;
      margin-bottom: 45px;
    }

    li {
      @include flex(flex-start, center, row, 15px);
      margin-bottom: 10px;
    }

    &_icon {
      background-color: $mainGreen;
      padding: 5px;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      color: white;
    }
  }
}
