.btn {
    border: 1px solid $mainGreen;
    padding: 10px 50px;
    background-color: $mainGreen;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: white;
        color: $mainOrange;
        border: 1px solid $mainOrange;
    }
}

.long_btn {
    width: 300px;
    text-align: center;
}