.category_container {
  background-color: white;
  @include flex(center, center, column, 50px);

  &_heading {
    @include flex(center, center, row, 20px);
    margin: 30px 0px;
  }

  &_buttons {
    @include flex(center, center, row, 20px);
  }

  &_icon {
    border-radius: 50%;
    padding: 10px;
    background-color: $mainOrange;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: white;
      border: 1px solid $lightOrange;
    }
  }

  &_border {
    border-bottom: 3px solid $mainGreen;
    width: 150px;
  }

  h2 {
    font-size: 1.8rem;
   
  }

  &_tables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 20px;
  }
  &_table {
    @include flex(center, center, column, 15px);
    border: 2px solid $mainGreen;
    padding: 15px;
    border-radius: 25px;

    img {
      border-radius: 25px;
      margin-bottom: 15px;
      height: 8rem;
      width: 11rem;
      object-fit: cover;
    }

    p {
      font-size: 1.6rem;
    }
  }
}
