.category_container_home {
  color: $mainFontColor;
  @include flex(center, center, column, 20px);

  &_heading {
    @include flex(center, center, row, 20px);
    margin-bottom: 50px;
  }

  &_buttons {
    @include flex(center, center, row, 20px);
  }

  &_icon {
    border-radius: 50%;
    padding: 10px;
    background-color: $mainOrange;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: white;
      border: 1px solid $lightOrange;
    }
  }

  &_border {
    border-bottom: 3px solid $mainGreen;
    width: 150px;
    @include media(medium) {
      width: 120px;
    }
  }

  h2 {
    font-size: 1.8rem;
    @include media(medium2) {
      text-align: center;
    }
  }

  &_tables {
    @include media(medium2) {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    padding: 20px;
    row-gap: 30px;
  }
}
