.footer_container {
  background-color: darken($mainGreen, 15%);
  @include flex(center, center, row, 50px);
  color: black;
  

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &_right {
    @include flex(center, center, row, 70px);

    &_container {
        @include flex(center, flex-start, column, 15px);
        width: 115px;
    }

    &_link {
        @include flex(flex-start, center, column, 10px);
        cursor: pointer;
        text-decoration: none;
        color: black;

        &:hover {
            color: white;
        }
    }
  }

  span {
    color: $mainOrange;
  }

  &_logo {
    @include flex(flex-start, center, row, 25px);
  }

  &_icons {
    @include flex(flex-start, center, row, 15px);
    margin-top: 40px;
    cursor: pointer;
    &_icon {
      border: 1px solid transparent;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
