.hero_container {
  background-color: $lightGreen;
  color: $mainFontColor;
  @include flex(center, center, row, 50px);

  @include media(large) {
    @include flex(center, center, row, 20px);
  }
  @include media(medium2) {
    @include flex(center, center, column, 50px);
  }

  &_left {
    @include media(medium2) {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    margin-left: 90px;

    h1 {

  @include media(medium) {
    margin-top: 50px;
  }
      @include media(medium2) {
        text-align: center;
      }
      font-size: 3rem;
      margin-bottom: 15px;
      line-height: 1.3;
    }

    span {
      color: $mainOrange;
    }
    p {
      @include media(medium2) {
        text-align: center;
      }
      margin-bottom: 45px;
      font-weight: 300;
    }
  }

  &_right {
    @include flex(center, center, row, 20px);
    img {
      height: 35rem;
      width: 40rem;
    }

    @include media(large) {
      img {
        height: 25rem;
        width: 30rem;
      }
    }
  }
}
