.category_container_latest {
  background-color: white;
  @include flex(center, center, column, 50px);
  color: $mainFontColor;

  &_heading {
    @include media(medium) {
      text-align: center;
    }
    @include flex(center, center, row, 20px);
    margin-bottom: 30px;
  }

  &_buttons {
    @include flex(center, center, row, 20px);
  }

  &_icon {
    border-radius: 50%;
    padding: 10px;
    background-color: $mainOrange;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: white;
      border: 1px solid $lightOrange;
    }
  }

  &_border {
    border-bottom: 3px solid $mainGreen;
    width: 150px;
  }

  h2 {
    font-size: 1.8rem;

    @include media(small) {
      text-align: center;
    }
  }

  &_tables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 20px;
  }

  &_table {
    @include media(small) {
      padding: 45px;
      @include flex(center, center, column, 25px);
      width: 350px;
    }

    @include flex(center, center, column, 15px);
    border: 2px solid $mainGreen;
    padding: 25px;
    border-radius: 25px;

    p {
      font-size: 1.6rem;

      @include media(small) {
        font-size: 2.2em;
      }
    }

    &_price {
      font-size: 1.4rem;
      color: red;

      @include media(small) {
        font-size: 2em;
      }
    }

    &_btns {
      @include flex(center, center, column, 20px);

      &_btn {
        padding: 5px;
        border: 2px solid transparent;
        background-color: $mainGreen;
        height: 2.2rem;
        width: 2.2rem;
        font-size: 1.2rem;
        cursor: pointer;
        line-height: 1.2rem;

        &:hover {
          border: 2px solid $mainGreen;
          background-color: white;
        }
      }
    }
  }
}

.category_container_about_tables {
  @include flex(center, center, row, 45px);
  flex-wrap: wrap;
  margin-bottom: 30px;

  .category_container_table_stars {
    color: $mainOrange;
  }
}

.category_container_inside {
  @include flex(center, center, column, 20px);
}

.btns_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btns_container_input {
  height: 35px;
  padding: 5px;
  font-size: 1rem;
}
