.select_filter {
    @include flex (center, center, row, 50px);
    margin-bottom: 20px;
    

    select {
        height: 40px;
        width: 300px;
        font-size: 1rem;
        padding: 5px;
        cursor: pointer;
    }

}